@model EPMSAppDemo.Models.Record

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div>
    <h4>Record</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubmittedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubmittedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimePeriodBegin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimePeriodBegin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimePeriodEnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimePeriodEnd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RowVersion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RowVersion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.FirstName)
        </dd>

    </dl>
</div>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Submit Record" class="btn btn-primary" />
    </div>
</div>

}
